.content {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto 1fr;
    gap: 20px;
  }
  
  .tituloInicio {
    grid-column: 1 / span 2;
    grid-row: 1;
    text-align: center;
  }
  
  .contenedorProductos {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  
  .Lista_Productos {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    width: 90%;
    background-color: #F5F5DC;
    margin-bottom: 10px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    }
  
  .buttonCarrito {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    align-self: flex-start;
  }
  
  .imagenCarrito {
    width: 20px;
    height: 20px;
  }

  /* Media query para dispositivos móviles */
  @media screen and (max-width: 768px) {
    .content {
      display: block;
    }
  
    .tituloInicio {
      text-align: center;
    }
  
    .contenedorProductos {
      margin-bottom: 20px;
    }
  
    .Lista_Productos {
      margin-top: 20px;
    }
  }
  