#footer{
  display: flex;
  justify-content: center; /* Alinea horizontalmente el contenido en el centro */
  align-items: center; /* Alinea verticalmente el contenido en el centro */
  margin: 0 auto;
  top: bottom;
  left: 0;
  right: 0;
  z-index: 1000; 
  min-height: 10vh;
  background-color: #021f3f;
  color: white;
  
}


